-d:ssl --mm:orc --threads:off
#-d:ssl --mm:orc --threads:off --passC:"-march=native -ffast-math" -passL:"-L/usr/local/lib/yottadb/r206 -lyottadb"
#-d:ssl --mm:orc --threads:off --passC:"-march=native" -passL:"-L/usr/local/lib/yottadb/r206 -lyottadb"
#-d:ssl --mm:orc --threads:off -d:danger --passC:"-march=native" -d:useMalloc --passC:"-mavx" -passL:"-L/usr/local/lib/yottadb/r206 -lyottadb"
#-d:ssl --threads:off --stackTrace:on --lineTrace:on --mm:orc --passL:"-L/usr/local/lib/yottadb/r206 -lyottadb"
#-d:ssl --mm:orc -d:useMalloc -g --assertions:on --threads:on --passC:"-fsanitize=address" --passL:"-fsanitize=address" -passL:"-L/usr/local/lib/yottadb/r206 -lyottadb"
