#-d:ssl --mm:orc --threads:on -passL:"-L/usr/local/lib/yottadb/r206 -lyottadb"
-d:ssl --threads:on --stackTrace:on --lineTrace:on --mm:orc --passL:"-L/usr/local/lib/yottadb/r206 -lyottadb"
#-d:ssl --mm:orc -d:useMalloc -g --assertions:on --threads:on --passC:"-fsanitize=address" --passL:"-fsanitize=address" -passL:"-L/usr/local/lib/yottadb/r206 -lyottadb"
